<!doctype html>
<html lang="en">
    <head>
        <% include ./partials/shared/head.ejs %>
        <title>X-Team TensorFlow</title>
    </head>
    <body>
        <% include ./partials/shared/nav.ejs %>
        <main>
            <div class="logic"></div>
        </main>
        <% include ./partials/shared/footer.ejs %>
    </body>
    <% include ./partials/shared/scripts.ejs %>
    <!-- Custom -->
    <script src="/scripts/0_logic.js"></script>
</html>
