<footer>
    <ul>
        <li>
            <a href="https://x-team.com/blog/" target="_blank">X-Team Blog</a>
        </li>
        <li>
            <a href="https://github.com/Thoughtscript/x_team_tensorflow_js" target="_blank">GitHub</a>
        </li>
        <li>
            <a href="https://www.linkedin.com/in/adamintaegerard/" target="_blank">Adam InTae Gerard</a>
        </li>
        <li>
            <a href="http://localhost:5555/api/" target="_blank">REST API</a>
        </li>
    </ul>
</footer>